{% extends 'core/base.html' %}
{% block title %}About{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1>About</h1>
            <hr>
            <h5><b>Welcome {{ username }}!</b></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit hic, obcaecati repudiandea nihil, similique dolore sint quidem deserunt possimus ex doloremque, ad nesciunt voluptates? Placeat millitia in et reiciendis quod.</p>
        </div>
    </div>
{% endblock %}