{% extends 'core/base.html' %}
{% block title %}Log in{% endblock %}
{% load widget_tweaks %}
{% block content %}
    {% if form.errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error|striptags }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card mt-4 text-center">
                <div class="card-header">
                    <h3>Log in</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.username|attr:"class:form-control"|attr:"placeholder:Username"|attr:"autofocus" }}
                        </div>
                        <div class="form-group">
                            {{ form.password|attr:"class:form-control"|attr:"placeholder:Password" }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}